@charset "UTF-8";
body{
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    background-color: chocolate;
    color: aqua;
}
p{
    text-align: justify;
color: darkgoldenrod;
}