@charset "UTF-8";

body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    background-color: brown;
    color: yellow;
}

h2{
    background-color: rgb(50, 25, 175);
    color: darkorchid;
}
p{
    text-align: justify;
}